<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /winstrap
    RewriteRule ^index\.html$ – [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule /winstrap/index.html [L]

</IfModule>